<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti dicta distinctio ea laborum magnam non officiis possimus voluptate? Fuga, numquam, voluptatibus? A, accusantium ad assumenda consectetur, culpa cupiditate delectus dicta, error id inventore iure modi necessitatibus nulla odio porro quasi quos rem sit vel voluptatem. Culpa, debitis dolores!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti dicta distinctio ea laborum magnam non officiis possimus voluptate? Fuga, numquam, voluptatibus? A, accusantium ad assumenda consectetur, culpa cupiditate delectus dicta, error id inventore iure modi necessitatibus nulla odio porro quasi quos rem sit vel voluptatem. Culpa, debitis dolores!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti dicta distinctio ea laborum magnam non officiis possimus voluptate? Fuga, numquam, voluptatibus? A, accusantium ad assumenda consectetur, culpa cupiditate delectus dicta, error id inventore iure modi necessitatibus nulla odio porro quasi quos rem sit vel voluptatem. Culpa, debitis dolores!</p>
  </div>
</div>
